* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}


/* --------------- NAVIGATION --------------- */

nav {
    height: 50px;
    margin: 10px 0;
}

.menu {
    background-color: aqua;
    list-style: none;
    padding: 0;
    height: 50px;
    z-index: 2;
    width: 100%;
}

.menu li {
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

/* --------------- INFINITE SLIDER --------------- */

.slider-section {
  height: auto;
  display: flex;
  justify-content: center;
}

.slider{
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.slider ul{
  list-style: none;
  display: flex;
  position: relative;
}

.slider li{
  display: inline-block;
}

#nextPicture {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  height: 90%;
}

#prevPicture {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 90%;
}

/* --------------- ACCORDION --------------- */

.accordion {
  height: auto;
}

.QA h3 {
    margin: 0;
    padding: 15px;
}

.QA p {
    display: none;
    padding-left: 15px;
    margin: 0;
}

/* --------------- SIMPLE TABS --------------- */

.tabs-section {
  height: auto;
}

.tabs ul {
    list-style: none;
    padding: 0;
}

.tabs li {
    display: inline-block;
}

.tabs .selected {
    background-color: aquamarine;
}

.tabs div {
    display: none;
}

/* --------------- PARALLAX --------------- */

.scene {
    display: block;
    position: relative;

    height: 500px;
    border: black 1px solid;
    border-radius: 5px;
    overflow: hidden;
}

.scene .element {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: #34c2e3;
}

/* --------------- CONTACT FORM --------------- */

/* .contact-form {
  height: auto;
}

#contactForm {
  width: 505px;
  margin: 20px auto;
}

#contactForm input,
#contactForm textarea {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  font-family: Arial, sans-serif;
  margin-top: 5px;
}

#contactForm label {
  display: inline-block;
  width: 150px;
  margin-top: 20px;
}

.error {
  width: 260px;
  margin-top: 25px;
}

.marked {
  border-color: red !important;
} */

.test {
  height: 400px;
}
