* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html,
body {
    width: 100%;
    height: auto;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

header {
  width: 100%;
  text-align: center;
  background-color: black;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 10px 10px;
}



/* --------------- NAVIGATION --------------- */

nav {
    height: 50px;
}

.navigation {
    height: 50px;
    background-color: rgb(107, 27, 196);
}

nav .container {
  padding: 0 10px;
}

.menu {
    list-style: none;
    padding: 0;
    height: 50px;
}

.menu li {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-right: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* --------------- INFINITE SLIDER --------------- */

/* .slider-section {
  height: auto;
  display: flex;
  justify-content: center;
}

.slider{
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.slider ul{
  list-style: none;
  display: flex;
  position: relative;
}

.slider li{
  display: inline-block;
}

#nextPicture {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  height: 90%;
}

#prevPicture {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 90%;
} */

/* --------------- ACCORDION --------------- */

.accordion {
  height: auto;
  padding: 3rem 0;
  text-align: center;
}

.accordion .container {
  padding: 0 0;
}

.QA h3 {
    display: block;
    padding: 15px;
    /* margin-bottom: 3rem; */
}

.QA p {
    display: none;
    padding: 15px;
    /* margin-top: -3rem; */
}

.QA h3:nth-of-type(odd) {
  background-color: green;
}

.QA p:nth-of-type(odd) {
  background-color: green;
}

.QA h3:nth-of-type(even) {
  background-color: violet;
}

.QA p:nth-of-type(even) {
  background-color: violet;
}

/* --------------- SIMPLE TABS --------------- */

.tabs-section {
  height: auto;
  background-color: gray;
  padding: 2rem 0;
}

.tabs ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.tabs li {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.tabs {
    padding: 1rem 0;
}

.tabs div {
    display: none;
    padding-top: 1rem;
    text-align: center;
}


/* --------------- GALLERY --------------- */

.gallery-section .container {
  text-align: center;
}

.gallery ul {
    list-style: none;
}

.gallery li {
    display: inline-block;
}

.gallery li img {
    width: 100px;
    height: 100px;
}

.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background:rgba(255,255,255,0.7);
}
.fullScreen .close {
    display: block;
    margin: auto;
}

.fullScreen img {
    display: block;
    /* margin-top: 50%; */
    margin: 55px auto 5px;
    height: auto;
    width: calc(100% - 25px);
}

/* --------------- PARALLAX --------------- */

/* .scene {
    display: block;
    position: relative;

    height: 500px;
    border: black 1px solid;
    border-radius: 5px;
    overflow: hidden;
}

.scene .element {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: #34c2e3;
} */

/* --------------- CONTACT FORM --------------- */

/* .contact-form {
  height: auto;
}

#contactForm {
  width: 505px;
  margin: 20px auto;
}

#contactForm input,
#contactForm textarea {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  font-family: Arial, sans-serif;
  margin-top: 5px;
}

#contactForm label {
  display: inline-block;
  width: 150px;
  margin-top: 20px;
}

.error {
  width: 260px;
  margin-top: 25px;
}

.marked {
  border-color: red !important;
} */


@media only screen and (min-width: 768px) {
    h1 {
      font-size: 6rem;
    }

    .menu li {

        font-size: 1.5rem;
        letter-spacing: 3px;
        padding-top: 10px;
        padding-right: 3%;
    }

    .QA h3 {
      width: 45%;
    }

    .QA p {
      width: 45%;
    }

    .fullScreen img {
        margin: 55px auto 5px;
        width: auto;
        height: calc(100% - 120px);
    }

  }
