@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@font-face {
  font-family: 'bloodynormal';
  src: url('../fonts/BLOODY-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  width: 100%;
  height: auto;
  font-family: 'Playfair Display', serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: normal;
  /* text-transform: uppercase; */
}

h2 {
  font-weight: normal;
}

header {
  width: 100%;
  text-align: center;
  background-color: black;
  position: relative;
  padding-bottom: 10vw;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vw;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 10px 10px;
}

/* --------------- STICKY SECTION --------------- */
nav {
  height: auto;
  padding-bottom: 10vw;
  position: relative;
  background-color: rgb(255, 176, 0)
}

.navigation {
  /* height: 50px; */
  background-color: rgb(255, 176, 0);
}

nav .container {
  padding: 0 10px;
  /* height: 50px; */
  text-align: center;
}

.menu {
  list-style: none;
  padding: 1rem 0;
}

.menu li {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* --------------- SIMPLE TABS --------------- */
.tabs-section {
  height: auto;
  background-color: gray;
  position: relative;
  padding-bottom: 10vw;
}

.tabs-section span {
  font-size: 0.6rem;
}

.tabs-section svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vw;
}

.tabs ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tabs li {
  display: inline-block;
  /* width: 19%; */
  text-align: center;
}

.tabs {
  padding: 1rem 0;
  text-align: center;
}

.tabs div {
  display: none;
  padding-top: 1rem;
  text-align: center;
}

/* --------------- ACCORDION --------------- */
.accordion {
  height: auto;
  padding-bottom: 10vw;
  text-align: center;
  position: relative;
}

/* .accordion svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vw;
} */
.accordion .container {
  padding: 0 0;
}

.QA {
  padding: 2rem;
}

.QA h3 {
  display: block;
  padding: 15px;
  border: 3px solid white;
  font-weight: lighter;
}

.QA p {
  display: none;
  padding: 15px;
  border: 3px solid white;
}

.QA h3:nth-of-type(odd),
.QA p:nth-of-type(odd) {
  background-color: black;
  color: rgb(255, 176, 0);
}

.QA h3:nth-of-type(even),
.QA p:nth-of-type(even) {
  background-color: rgb(255, 176, 0);
  color: black;
}

/* --------------- GALLERY --------------- */
.gallery-section {
  background-color: rgb(255, 176, 0);
  padding-bottom: 10vw;
  position: relative;
}

.gallery-section .container {
  text-align: center;
}

.gallery-section h2 {
  font-size: 2em;
  color: white;
  padding-top: 1rem;
}

.gallery {
  padding: 2rem 0;
}

.gallery ul {
  list-style: none;
}

.gallery li {
  display: inline-block;
}

.gallery li img {
  width: 100px;
  height: 100px;
}

.fullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}

.fullScreen .close {
  display: block;
  margin: auto;
}

.fullScreen img {
  display: block;
  /* margin-top: 50%; */
  margin: 55px auto 5px;
  height: auto;
  width: calc(100% - 25px);
}

/* --------------- GALLERY WITH FILTER --------------- */
.gallery-filer {
  background-color: black;
  position: relative;
}

.gallery-filer h2 {
  font-size: 2em;
  color: white;
  padding-top: 1rem;
}

#gallery {
  padding-top: 2rem;
}

#gallery .invisible {
  display: none;
}

#gallery img {
  width: 100px;
  height: auto;
}

.gallery-filer .container {
  text-align: center;
  padding-bottom: 4rem;
}

#tagInput {
  border: none;
  width: 80%;
  padding: 10px;
  height: 2rem;
  margin-top: 2rem;
}

.gallery-filer button {
  width: 70px;
  height: 20px;
  margin: 1rem;
  border: none;
  background-color: rgb(255, 176, 0);
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

#gallery .fullScreen {
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}

/* --------------- INFINITE SLIDER --------------- */
.slider-section {
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: gray;
  position: relative;
}

.slider {
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.slider ul {
  list-style: none;
  display: flex;
  position: relative;
}

.slider li {
  display: inline-block;
}

#nextPicture {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  /* height: 90%; */
}

#prevPicture {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  /* height: 90%; */
}

.slider button {
  font-size: 4rem;
  background: none;
  border: none;
  margin: 0 10px;
  outline: none;
  color: rgba(0, 0, 0, .75);
}

/* --------------- PARALLAX --------------- */
.parallax {
  padding: 2rem 2rem;
  background-color: 'white';
  position: relative;
}

.scene {
  display: block;
  position: relative;
  height: 500px;
  border: black 1px solid;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.scene .text {
  font-size: 10rem;
  position: absolute;
  top: 6rem;
  left: 3rem;
  z-index: 2;
}

.scene .element {
  display: block;
  position: absolute;
  width: 280px;
  height: 250px;
  background-image: url('../images/cloud-svgrepo-com.svg');
  background-repeat: no-repeat;
}

.mobile-info {
  display: none;
  background-color: rgb(255, 176, 0);
  padding: 10px 10px;
}

/* --------------- TOOLTIP --------------- */
.tooltip {
  text-decoration: underline;
  color: black;
  position: relative;
  display: inline-block;
}

.tooltipText {
  position: absolute;
  top: 100%;
  display: block;
  background-color: black;
  color: rgb(255, 176, 0);
  z-index: 1;
  padding-left: 0.6rem;
}

/* --------------- CSS SPRITE ANIMATION --------------- */
.css-sprite {
  background-color: black;
  position: relative;
  padding-bottom: 10vw;
}

.css-sprite .container {
  padding: 0;
}

.css-sprite span {
  font-family: 'bloodynormal';
  display: block;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  color: rgb(0, 189, 0);
  font-weight: normal;
}

.zombie {
  width: 200px;
  height: 312px;
  background: url('../images/walkingdead.png') left center;
  position: absolute;
  left: 100%;
  bottom: 100px;
  animation: zombie-animation 380ms steps(10) infinite, zombie-move 10s;
}

.board {
  height: 100vh;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/board-bg.jpg);
}

.start-sprite,
.stop-sprite {
  font-family: 'bloodynormal';
  position: absolute;
  bottom: 1em;
  color: rgb(0, 189, 0);
  background-color: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 99;
  outline: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  width: 40%;
}

.start-sprite {
  left: 1em;
}

.stop-sprite {
  right: 1em;
}

@keyframes zombie-animation {
  100% {
    background-position: -2000px;
  }
}

@keyframes zombie-move {
  100% {
    left: -300px;
  }
}

/* --------------- CONTACT FORM --------------- */
.contact-form {
  height: auto;
  background-color: rgb(255, 176, 0);
  position: relative;
  padding-bottom: 10vw;
}

.contact-form h2 {
  font-size: 2em;
}

.contact-form .container {
  text-align: center;
}

#contactForm {
  width: 100%;
  padding: 0 2rem;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5em;
  font-family: Arial, sans-serif;
  margin-top: 5px;
}

#messageInput {
  height: 10rem;
  resize: none;
}

#contactForm label {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.error {
  width: 20rem;
  margin-top: 25px;
}

.marked {
  border: 2px solid red !important;
}

#contactForm .submit {
  background-color: black;
  color: rgb(255, 176, 0);
  border: none;
}

/* --------------- FOOTER --------------- */
footer {
  background-color: black;
  color: rgb(255, 176, 0);
  font-size: .8rem;
  padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
  h1, h2 {
    font-size: 6rem;
  }

  .menu {
    padding: .7rem 0;
  }

  .menu li {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .tabs li:hover {
    font-weight: bolder;
    text-shadow: 0 0 8px #000;
    cursor: pointer;
  }

  .tabs-section span {
    font-size: .8rem;
  }

  .QA h3 {
    width: 45%;
  }

  .QA h3:hover {
    cursor: pointer;
  }

  .QA h3:nth-of-type(odd):hover {
    text-shadow: 0 0 8px rgb(255, 176, 0);
  }

  .QA h3:nth-of-type(even):hover {
    text-shadow: 0 0 8px #000;
  }

  .QA p {
    width: 45%;
  }

  .gallery-section h2 {
    font-size: 6rem;
  }

  .gallery li img {
    width: 300px;
    height: 300px;
  }

  .fullScreen img {
    margin: 55px auto 5px;
    width: auto;
    height: calc(100% - 120px);
  }

  .gallery-filer {
    padding-bottom: 10vw;
  }

  .gallery-filer h2 {
    font-size: 6rem;
  }

  .gallery-filer button {
    font-size: 1.5rem;
    width: 140px;
    height: 40px;
    margin: 1rem 2rem;
  }

  .gallery-filer button:hover {
    text-shadow: 0 0 8px #000;
    cursor: pointer;
  }

  #gallery img {
    width: 300px;
  }

  #gallery .fullScreen {
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
  }

  .slider-section {
    padding-top: 2rem;
    padding-bottom: 15vw;
    position: relative;
  }

  .slider button:hover {
    text-shadow: 0 0 8px #000;
  }

  .parallax {
    padding-bottom: 10vw;
    position: relative;
  }

  .scene {
    margin: 3rem 0;
  }

  .css-sprite .container {
    padding: 2rem 0;
  }

  .css-sprite span {
    font-size: 6em;
  }

  .start-sprite,
  .stop-sprite {
    font-weight: normal;
    font-size: 2rem;
    width: 30%;
  }

  .start-sprite:hover,
  .stop-sprite:hover {
    font-weight: bold;
    text-shadow: 0 0 8px #000;
    cursor: pointer;
  }

  #contactForm {
    width: 60%;
  }

  .contact-form h2 {
    font-size: 6em;
  }

  input[type=submit]:hover {
    font-weight: bolder;
    text-shadow: 0 0 8px rgb(255, 176, 0);
    cursor: pointer;
  }

  #contactForm .submit {
    width: 50%;
    padding: 1rem 0;
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
  }

  footer {
    font-size: 1rem;
  }
}
